#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
GHOSTTY_VERSION ?= $(shell cat VERSION | sed 's/main+/ubuntu-nightly-/g')

%:
	dh $@

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/ghostty zig0.14 build \
		--summary all \
		--prefix /usr \
		--system vendor-zig-cache/p \
		--global-cache-dir zig-cache \
		-Doptimize=ReleaseFast \
		-Dcpu=baseline \
		-Dpie=true \
		-Demit-docs \
		-Dversion-string=$(GHOSTTY_VERSION)

override_dh_install:
	dh_install --sourcedir=debian/ghostty
