name: Build Ghostty Tip

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

permissions:
  contents: write

concurrency:
  # Repeated pushes to a PR will cancel all previous still running builds of the
  # PR (for faster feedback), while multiple merges to main will not cancel.
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  build-ghostty:
    name: Build Ghostty Tip
    strategy:
      fail-fast: false
      matrix:
        builds:
          - distro: "ubuntu"
            version: "24.04"
          - distro: "ubuntu"
            version: "25.04"
          - distro: "ubuntu"
            version: "25.10"
          - distro: "debian"
            version: "trixie"
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runner: ubuntu-24.04
            zig_version: "0.15.2"
          - arch: arm64
            runner: ubuntu-24.04-arm
            zig_version: "0.15.2"
    runs-on: ${{ matrix.runner }}
    steps:
        # See the docs: https://github.com/docker/build-push-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

        # This action checks out the source as part of the action and can therefore
        # go before the checkout step.
      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          tags: ghostty:${{ matrix.builds.distro }}-${{ matrix.builds.version }}-${{ matrix.arch }}-${{ matrix.zig_version }}
          build-args: |
            DISTRO=${{ matrix.builds.distro }}
            DISTRO_VERSION=${{ matrix.builds.version }}
            ZIG_VERSION=${{ matrix.zig_version }}
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Checkout ghostty-ubuntu
        uses: actions/checkout@v4

      - name: Build Ghostty
        run: docker run --rm -v$PWD:/workspace -w /workspace ghostty:${{ matrix.builds.distro }}-${{ matrix.builds.version }}-${{ matrix.arch }}-${{ matrix.zig_version }} /bin/bash build-ghostty.sh tip

      - name: Lint .deb Package
        # Lintian shouldn't fail our build yet
        run: docker run --rm -v$PWD:/workspace -w /workspace ghostty:${{ matrix.builds.distro }}-${{ matrix.builds.version }}-${{ matrix.arch }}-${{ matrix.zig_version }} lintian ghostty_*.deb || true

      - name: Test Installation
        run: docker run --rm -v$PWD:/workspace -w /workspace ghostty:${{ matrix.builds.distro }}-${{ matrix.builds.version }}-${{ matrix.arch }}-${{ matrix.zig_version }} dpkg -i ghostty_*.deb

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: package-${{ matrix.builds.distro }}-${{ matrix.builds.version }}-${{ matrix.arch }}-${{ matrix.zig_version }}
          retention-days: 7
          path: ghostty_*.deb
