name: Build Ghostty

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:
    inputs:
      release_version:
        description: The version to release.
        type: string
        required: false
      tip:
        description: Build the tip version.
        type: boolean
        default: false

permissions:
  contents: write

concurrency:
  # Repeated pushes to a PR will cancel all previous still running builds of the
  # PR (for faster feedback), while multiple merges to main will not cancel.
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  prepare-build:
    name: Prepare Build
    runs-on: ubuntu-latest
    outputs:
      build_name: ${{ steps.prepare.outputs.build_name }}
      zig_version: ${{ steps.prepare.outputs.zig_version }}
      tip_version_indicator: ${{ steps.prepare.outputs.tip_version_indicator }}
    steps:
      - name: Prepare Build Vars
        id: prepare
        run: |
          if [[ "${{ github.event_name }}" == "schedule" || "${{ inputs.tip }}" == "true" ]]; then
            echo "build_name='Build Ghostty Tip'" >> $GITHUB_OUTPUT
            echo "zig_version=0.15.2" >> $GITHUB_OUTPUT
            echo "tip_version_indicator=tip" >> $GITHUB_OUTPUT
          else
            echo "build_name='Build Ghostty'" >> $GITHUB_OUTPUT
            echo "zig_version=0.14.1" >> $GITHUB_OUTPUT
            echo "tip_version_indicator=" >> $GITHUB_OUTPUT
          fi

  build-ghostty:
    name: ${{ needs.prepare-build.outputs.build_name }}
    needs: prepare-build
    strategy:
      fail-fast: false
      matrix:
        builds:
          - distro: "ubuntu"
            version: "24.04"
          - distro: "ubuntu"
            version: "25.04"
          - distro: "ubuntu"
            version: "25.10"
          - distro: "debian"
            version: "trixie"
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
        # See the docs: https://github.com/docker/build-push-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

        # This action checks out the source as part of the action and can therefore
        # go before the checkout step.
      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          tags: ghostty:${{ matrix.builds.distro }}-${{ matrix.builds.version }}-${{ matrix.arch }}-${{ needs.prepare-build.outputs.zig_version }}
          build-args: |
            DISTRO=${{ matrix.builds.distro }}
            DISTRO_VERSION=${{ matrix.builds.version }}
            ZIG_VERSION=${{ needs.prepare-build.outputs.zig_version }}
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Checkout ghostty-ubuntu
        uses: actions/checkout@v4

      - name: Build Ghostty
        run: docker run --rm -v$PWD:/workspace -w /workspace ghostty:${{ matrix.builds.distro }}-${{ matrix.builds.version }}-${{ matrix.arch }}-${{ needs.prepare-build.outputs.zig_version }} /bin/bash build-ghostty.sh ${{ needs.prepare-build.outputs.tip_version_indicator }}

      - name: Lint .deb Package
        # Lintian shouldn't fail our build yet
        run: docker run --rm -v$PWD:/workspace -w /workspace ghostty:${{ matrix.builds.distro }}-${{ matrix.builds.version }}-${{ matrix.arch }}-${{ needs.prepare-build.outputs.zig_version }} lintian ghostty_*.deb || true

      - name: Test Installation
        run: docker run --rm -v$PWD:/workspace -w /workspace ghostty:${{ matrix.builds.distro }}-${{ matrix.builds.version }}-${{ matrix.arch }}-${{ needs.prepare-build.outputs.zig_version }} dpkg -i ghostty_*.deb

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: package-${{ matrix.builds.distro }}-${{ matrix.builds.version }}-${{ matrix.arch }}-${{ needs.prepare-build.outputs.zig_version }}
          retention-days: 7
          path: ghostty_*.deb

  release-ghostty:
    name: (Pre-)Release Ghostty
    if: github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main' && inputs.tip != 'true'
    runs-on: ubuntu-latest
    needs: build-ghostty
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: package-*
          merge-multiple: true

      - name: Validate Release Version
        run: |
          if ls *${{ inputs.release_version }}* 1> /dev/null 2>&1; then
            # Version is correct.
            # The git tag shouldn't have `~`
            echo "RELEASE_TAG=$(echo '${{ inputs.release_version }}' | sed 's/~/-/g')" >> $GITHUB_ENV
          else
            echo "::error::Release version does not match filenames."
            exit 1
          fi

      - name: Publish Release Draft
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: ghostty_*.deb
          name: ${{ inputs.release_version }}
          tag_name: ${{ env.RELEASE_TAG }}
          fail_on_unmatched_files: true
