name: Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

concurrency:
  # Repeated pushes to a PR will cancel all previous still running builds of the
  # PR (for faster feedback)
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  build-ghostty-binary:
    name: Test Binary Tip
    uses: ./.github/workflows/binary-build.yml
    with:
      build_matrix: |
        {
          "builds": [
            {"distro": "ubuntu", "version": "24.04"},
            {"distro": "ubuntu", "version": "25.10"}
          ],
          "arch": ["amd64"],
          "include": [
            {"arch": "amd64", "runner": "ubuntu-24.04"}
          ]
        }
      zig_version: "0.15.2"
      version_type: "tip"

  build-ghostty-ppa:
    name: Upload Ghostty PPA
    uses: ./.github/workflows/ppa-build-ghostty.yml
    secrets:
      PPA_GPG_PRIVATE_KEY: ${{ secrets.PPA_GPG_PRIVATE_KEY }}
      PPA_GPG_PASSPHRASE: ${{ secrets.PPA_GPG_PASSPHRASE }}
    with:
      upload: true
      version: tip
      build_matrix: |
        {
          "builds": [
            {"codename": "questing", "container-image": "ubuntu:25.10"},
            {"codename": "noble", "container-image": "ubuntu:24.04"}
          ]
        }
