name: Test

on:
  pull_request:
  workflow_dispatch:

concurrency:
  # Repeated pushes to a PR will cancel all previous still running builds of the
  # PR (for faster feedback)
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build-ghostty-binary:
    name: Binary Tip
    uses: ./.github/workflows/binary-build.yml
    with:
      build_matrix: |
        {
          "builds": [
            {"distro": "ubuntu", "version": "24.04"},
            {"distro": "ubuntu", "version": "25.10"}
          ],
          "arch": ["amd64"],
          "include": [
            {"arch": "amd64", "runner": "ubuntu-24.04"}
          ]
        }
      zig_version: "0.15.2"
      version_type: "tip"

  build-zig-ppa:
    name: PPA Zig
    uses: ./.github/workflows/ppa-build-zig.yml
    with:
      upload: false

  build-ghostty-ppa:
    name: PPA Ghostty
    uses: ./.github/workflows/ppa-build-ghostty.yml
    with:
      upload: false
      version: tip
