name: Run Tests

on:
  pull_request:
    branches:
      - ppa

jobs:
  build:
    name: Test Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y devscripts build-essential
          cd zig0.15
          sudo apt-get build-dep -y .

      - name: Build zig0.15
        run: |
          cd zig0.15
          uscan --repack -v
          debuild -S -sa -us -uc
